<div class="container">
  <div class="shopping-list-container">
    <h1 class="title">
      {{ title }}!
    </h1>

    <form class="form" [formGroup]="shoppingListForm" (keydown.enter)="$event.preventDefault()">
      <div class="form-group">
        <label for="title">Vara att lägga till</label>
        <div class="input-and-btn">
          <input type="text" formControlName="name" class="form-control item-input" placeholder="Vara att lägga till"/>
          <button (click)="addNewItem()" class="btn btn-success btn-add">&#43;</button>
        </div>
      </div>
    </form>

    <div class="items-list">
      <div class="item" *ngFor="let item of todoList">
        <div class="item-info">
          <h6 [ngClass]="item.isCompleted === true ? 'isCompleted' : 'isNormal'" class="item-name">{{item.name}}</h6>
          <button class="btn btn-danger item-complete-btn" (click)="markAsComplete(item.name)">&#10003;</button>
        </div>
        <div class="btns">
          <span class="item-handler" (click)="increase(item)">+</span> <span class="num-of-items">{{item.numberOfItems}}</span> <span class="item-handler" (click)="decrease(item)">-</span>
        </div>
      </div>
      <button (click)="removeGroceryList()" class="btn btn-warning" style="margin-top: 1rem;">Ta bort allt</button>
    </div>

    <div *ngIf="errorMessage || duplicateItemsMessage" class="errors">
      <span class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</span>
      <span class="errorMessage" *ngIf="duplicateItemsMessage">{{duplicateItemsMessage}}</span>
    </div>
  </div>
</div>

